openapi: 3.1.1
info:
  title: Letterboxd Clone API
  description: API for a simplified Letterboxd-like application.
  version: 1.0.0
servers:
  - url: https://api.maximedavin.com
    description: Production server
  - url: http://localhost:8000
    description: Development server
components:
  schemas:
    Review:
      type: object
      properties:
        id:
          type: string
          example: review_456
        user:
          type: string
          example: johndoe
        rating:
          type: integer
          example: 5
        review:
          type: string
          example: Amazing movie!
        created_at:
          type: string
          format: date-time
          example: "2024-12-13T17:32:28Z"
    Movie:
      type: object
      properties:
        id:
          type: string
          example: 123
        title:
          type: string
          example: Inception
        year:
          type: integer
          example: 2010
        description:
          type: string
          example: A skilled thief leads a team into dream worlds.
        released_at:
          type: string
          format: date
          example: "2024-12-13"
    MovieDetail:
      allOf:
        - $ref: '#/components/schemas/Movie'
        - type: object
          properties:
            recent_reviews:
              type: array
              description: The last 5 reviews for the movie
              items:
                $ref: '#/components/schemas/Review'

          
paths:
  /auth/register:
    post:
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: johndoe
                password:
                  type: string
                  example: password123
                email:
                  type: string
                  example: johndoe@example.com
      responses:
        '201':
          description: User registered successfully
        '400':
          description: Invalid input

  /auth/login:
    post:
      summary: Authenticate a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: johndoe@example.com
                password:
                  type: string
                  example: password123
      responses:
        '200':
          description: Login successful, returns a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1...
        '401':
          description: Invalid credentials

  /movies:
    get:
      summary: List all movies
      parameters:
        - in: query
          name: genre
          schema:
            type: string
          description: Filter movies by genre
        - in: query
          name: year
          schema:
            type: integer
          description: Filter movies by release year
        - name: sort
          in: query
          description: Optional sorting criteria
          required: false
          schema:
            type: string
            enum:
              - name
              - -name
              - released_at
              - -released_at
            default: released_at
      responses:
        '200':
          description: A list of movies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Movie'

  /movies/{movie_id}:
    get:
      summary: Get details about a specific movie
      parameters:
        - in: path
          name: movie_id
          required: true
          schema:
            type: string
          description: ID of the movie
      responses:
        '200':
          description: Movie details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieDetail'
        '404':
          description: Movie not found

  /reviews:
    get:
      summary: Fetch reviews, with an optional filter for a specific movie or a specific user
      parameters:
        - name: movie_id
          in: query
          description: Optional filter for a specific movie
          required: false
          schema:
            type: string
        - name: username
          in: query
          description: Optional filter for a specific user
          required: false
          schema:
            type: string            
        - name: limit
          in: query
          description: The number of items to return (default is 10)
          required: false
          schema:
            type: integer
            format: int
            default: 10
        - name: sort
          in: query
          description: Optional sorting criteria
          required: false
          schema:
            type: string
            enum:
              - rating
              - created_at
            default: created_at
      responses:
        '200':
          description: List of reviews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Review'
    post:
      summary: Add a review for a movie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                  example: 5
                review:
                  type: string
                  example: Amazing cinematography!
      responses:
        '201':
          description: Review added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          description: Invalid input

  /reviews/{review_id}:
    patch:
      summary: Edit a user review
      parameters:
        - in: path
          name: review_id
          required: true
          schema:
            type: string
          description: ID of the review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                  example: 4
                review:
                  type: string
                  example: Updated review text!
      responses:
        '200':
          description: Review updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          description: Invalid input
        '403':
          description: Forbidden, user does not own the review
        '404':
          description: Review not found

    delete:
      summary: Delete a user review
      parameters:
        - in: path
          name: review_id
          required: true
          schema:
            type: string
          description: ID of the review
      responses:
        '204':
          description: Review deleted successfully
        '403':
          description: Forbidden, user does not own the review
        '404':
          description: Review not found

  /reset:
    post:
      summary: Reset the database to its initial state, delete users and reviews, but keep movies
      responses:
        '200':
          description: Successfully reset
        '500':
          description: Failed to reset
